*{
    box-sizing: border-box;
}

@keyframes blur{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.signup-container, .login-container{
    animation: blur 1.5s ease;
    height: 87vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.signup-form, .login-form{
    height: 70%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2vh;
}
.signup-form input, .login-form input{
    margin-top: 3.2vh;
    width: 25vw;
    padding: 2.5vh 2vh;
    outline: none;
    border-radius: 2vh;
    border: none;
    background-color: rgba(211, 211, 211, 0.527);
}
.signup-form input::placeholder, .login-form input::placeholder{
    color: black;
}
.signup-form input:focus, .login-form input:focus{
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.389);
}
.signup-form button, .login-form button{
    margin-top: 3vh;
    width: 25vw;
    padding: 2vh 2vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.89);
    border: none;
    cursor: pointer;
    border-radius: 2vh;
}
.signup-form button:hover, .login-form button:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
.login-form input, .login-form button{
    margin-top: 4vh;
}

.signup-form h2 i{
    margin-left: 1vh;
}