/***************** Navbar *******************/
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-elements {
  animation: appear 0.6s linear;
}

.nav-elements a::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 0%;
  height: 4px;
  /* background-color:rgba(255, 217, 0, 0.838); */
  background-color: #E7CCCC;
  transition: 0.6s;
}
  
.nav-elements a:hover::before{
  width: 100%;
}
.nav-elements .user:hover::before{
  width: 0%;
}

.nav-elements a:hover{
  color: white;
}
 
.nav-elements a:hover {
  cursor: pointer;
}


/***************** Features *******************/
@keyframes ets {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} 
@keyframes sgp {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} 

.email, .ts{
  animation: ets ease-in 0.7s;
  /* animation-timeline: view();
  animation-range: entry 0 cover 30%; */
}
.sg, .para{
  animation: sgp ease-in 0.7s;
  /* animation-timeline: view();
  animation-range: entry 0 cover 30%; */
}

.feat>div:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.279);
}
  
/***************** Home Pg Img *******************/
@keyframes home {
  from {
    opacity: 0;
    transform: translateX(140px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
#home img {
  animation: home 1s ease;
}
@keyframes hometxt {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#home .home-text {
  animation: hometxt 1s ease;
}

/***************** About *******************/
.about-box:hover{
  background-color: white;
  cursor: pointer;
}